<div class="gem-c-error-summary govuk-error-summary" data-module="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" id="error-summary" data-govuk-error-summary-module-started="true">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    To save the <%= construct_class_name %> please fix the following issues:
  </h2>

  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <%= errors %>
    </ul>
  </div>
</div>
